.search-skills-container,
.search-interests-container {
  margin-top: 10px;
  max-width: 800px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-skills,
.search-interests {
  max-width: 800px;
}

.search-skills h2,
.search-interests h2 {
  color: #333;
  position: sticky;
  padding: 10px 0;
  background-color: white;
}

.search-input {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.search-skills input[type="text"],
.search-interests input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-skills button,
.search-interests button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  border: 0;
}

.search-skills button:hover,
.search-interests button:hover {
  background-color: darkslategray;
}

.search-results-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.search-skills ul,
.search-interests ul {
  list-style-type: none;
  padding: 0;
}

.search-skills li,
.search-interests li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-skills li div,
.search-interests li div {
  margin-bottom: 5px;
}

.search-skills li button,
.search-interests li button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-skills li button:hover,
.search-interests li button:hover {
  background-color: #218838;
}

#add-skill,
#add-interest {
  justify-content: center;
}
